{% extends 'base.html' %}
<!-- . -->
{% block title %} Log in {% endblock %}
<!-- . -->
{% block main %}
<!-- . -->
<h1>Access account</h1>
<form method="post" class="frm-rgs">
   {% csrf_token %}
   <label for="username">User name:</label>
   <input type="password" name="username" />
   <label for="password1">Password:</label>
   <input type="password" name="password" />
   <input type="submit" value="Login" />
</form>
<p>
   Don't have an account...? <a href="{% url 'market:register' %} ">Signup</a>
</p>
<!-- . -->
{% endblock %}
