{% extends 'base.html' %}
<!-- . -->
{% block title %} Sign up {% endblock %}
<!-- . -->
{% block main %}
<!-- . -->
<h1>Create Account</h1>
<form method="post" class="frm-rgs">
   {% csrf_token %}
   <label for="username">User name:</label>
   <input type="text" name="username" />
   <label for="password1">Password:</label>
   <input type="password" name="password1" />
   <label for="password2">Confirm password:</label>
   <input type="password" name="password2" />
   <input type="submit" value="Register" />
</form>
<p>Already have an account...? <a href="{% url 'market:login' %} ">Login</a></p>
<!-- . -->
{% endblock %}
